/* @font-face {
  font-family: 'Inter var';
  src: url('./../../../Inter.var.woff2');
} */

#bus-table {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0em 0em;
  letter-spacing: -0.05em;
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: #34495e;
  background: #f8f9fa;
  width: 50%;

}

table {
  border-collapse: collapse;
}

thead {
  font-size: 0.9em;
  letter-spacing: 0;
  font-weight: 00;
  white-space: nowrap;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  color: #f8f9fa;
  background: #34495e;
  padding: 1em 0.2rem;
}

tbody tr:nth-child(odd) {
  background: #f0f0f3;
}

tbody tr:hover {
  background: #d7ecec;
}

td {
  padding: 0.8em 0.8rem;
}

.number {
  text-align: right;
  font-feature-settings: 'tnum' 1;
}

tbody .marker {
  font-size: 0.7em;
}

tbody .symbol {
  opacity: 0.6;
}

tbody .text {
  font-size: 0.9em;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
