#container {
  width: 100%;
  height: 100vh;
  background: yellow;
  display: grid;
  grid-template-rows: 80px 600px 80px;
  grid-template-columns: 0.5fr 1fr;
}
header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: teal;;
}
#controlPanel {
  background: purple;
}
#EEI {
  background: green;
}

#lineChart {
  background: orange;
}

#busTable {
  background: pink;
}

#scatterChart {
  background: #ff4f00;
}

#map {
  background: cornflowerblue;
}

#footer {
}
